name: Psalm

on: [push, pull_request]

jobs:
  psalm:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.0'
          extensions: curl, json
          tools: composer:v2

      - name: Install dependencies
        run: composer install --no-progress

      - name: Run Psalm
        run: vendor/bin/psalm --no-progress
