name: tests

on:
  push:
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        php: [ '7.3', '7.4','8.0' ]
        stability: [ prefer-lowest, prefer-stable ]

    name: PHP ${{ matrix.php }} - ${{ matrix.stability }}

    steps:
      - name: Checkout the code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          coverage: none
          extensions: curl, json
          php-version: ${{ matrix.php }}
          tools: composer:v2

      - name: Install composer dependencies
        uses: nick-invision/retry@v2
        with:
          command: composer update --${{ matrix.stability }} --prefer-dist --no-interaction --no-progress
          max_attempts: 5
          timeout_minutes: 5

      - name: Run the tests
        run: vendor/bin/phpunit --verbose
